// 文字溢出省略号
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.rodal-dialog {
  padding: 0 !important;
}
input::-ms-clear{display:none;}
